<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<div class="">
    <span>
        <h3 th:utext="'tiempo transurrido: ' + ${tiempoTranscurrido} + 'milisegundos' "></h3>
    </span>
</div>

<div class="col-sm-10">
    <form th:action="@{/proceso}" th:object="${usuario}" method="post">


        <div class="form-group row">
            <label for="inputFecha" class="col-sm-2 col-form-label">Fecha de Nacimeinto</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputFecha" placeholder="Fecha"
                       th:value="*{getFechaNacimientoo()}" th:field="*{fechaNacimientoo}">
            </div>

            <div th:if="${#fields.hasErrors('fechaNacimientoo') }" th:errors="*{fechaNacimientoo}"></div>
        </div>


        <div class="form-group row">
            <label for="inpudID" class="col-sm-2 col-form-label">ID Usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inpudID" placeholder="ID usuario"
                       th:value="*{getId()}" th:field="*{id}">
            </div>

            <div th:if="${#fields.hasErrors('id') }" th:errors="*{id}"></div>
        </div>


        <div class="form-group row">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                       th:value="*{getNombreUsuario()}" th:field="*{nombreUsuario}">
                <!--th:field="*{nombreUsuario}" se utiliza el * para tomar la propiedad de un objeto mapeado desde el formulario th:object="${usuario}" -->
            </div>

            <div th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}"></div>
            <!-- con la parte de se obtiene el error del atributo nombreUsuario #fields.hasErrors('nombreUsuario') y si hay un error pintamos el error con esta etiqueta th:errors="*{nombreUsuario}" -->
        </div>

        <div class="form-group row">
            <label for="inputApellido" class="col-sm-2 col-form-label">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputApellido" placeholder="Apellido"
                       th:value="*{getApellidoUsuario()}" th:field="*{apellidoUsuario}">
            </div>

            <div th:if="${#fields.hasErrors('apellidoUsuario') }" th:errors="*{apellidoUsuario}"></div>
        </div>


        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Correo:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Correo"
                       th:value="*{getCorreoUsuario()}" th:field="*{correoUsuario}">
            </div>

            <div th:if="${#fields.hasErrors('correoUsuario')}" th:errors="*{correoUsuario}"></div>
        </div>


        <div class="form-group row">
            <label for="inpurEdad" class="col-sm-2 col-form-label">Edad Usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inpurEdad" placeholder="Edad"
                       th:value="*{getEdad()}" th:field="*{edad}">
            </div>

            <div th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>
        </div>


        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password"
                       th:field="*{contrasenia}">
            </div>

            <div th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}"></div>

        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>

    </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>