<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:object="${usuario}">

<ul>
    <li th:utext="*{getNombreUsuario()}"></li>
    <li th:utext="*{getApellidoUsuario()}"></li>
    <li th:utext="*{getContrasenia()}"></li>
    <li th:utext="*{getCorreoUsuario()}"></li>
    <li th:utext="*{getEdad()}"></li>
    <li th:utext="*{getId()}"></li>
    <li th:utext="*{getFechaNacimientoo()}"></li>
    <li th:utext="*{getPais()}"></li>

</ul>

</body>
</html>